#portal-quickview {

	div { box-sizing: border-box; }

	position: absolute;
	top: 0;
	left: 0;
	width: @qv-width;
	height: @qv-collapsed-height;
	z-index: 1000;

	.bg-colour-primary;
	color: @body-text--default;

	transition: transform 0.5s, height 0.5s;
	&.hide {
		transform: translateY(-100%);
	}

	.collapsed-info, .expanded-info {
		> div {
			overflow: hidden;
		}
	}
}
