#sidebartoggle {
	opacity: 0.1;
	top: 50%;
	transform: translateY(-50%);
}
#scrollwrapper {
	bottom: auto;
	top: 50%;
	transform: translateY(-50%);
}
#sidebar {
	background-color: rgba(8, 48, 78, 0.7);
}
