#portal-quickview {
	
	.actions {
		position: absolute;
		top: 0;
		bottom: 0;
		right: -1 * @qv-actions-width;
		width: @qv-actions-width;
		text-align: center;

		padding: 0.1em 0;

		color: @body-text--default;
		.bg-colour-primary;

		button {
			width: 1.1em;
			height: 1.2em;
			display: block;
			margin: 0 auto;
		}

		.close, .expand {
			cursor: pointer;
		}

		.close {
			margin-bottom: 0.2em;
		}
	}

	.portal-actions {
		position: absolute;
		top: 3em;
		right: 0;
		height: 0;
		width: @qv-actions-width;
		transition: height 0.5s;
		overflow: hidden;
		padding-top: 0.35em;

		button {
			height: 1.45em;
		}
	}

	&.expanded .actions {
		border-bottom-right-radius: 0.5em;

		.portal-actions {
			height: 8em;
		}
	}

}

@keyframes slidein {
	from { transform: scaleX(0); }
	to   { transform: scaleX(1); }
}

@keyframes slideout {
	from { transform: scaleX(1); }
	to   { transform: scaleX(0); }
}

.portal-urls {
	position: absolute;
	top: 3em;
	left: calc(~"@{qv-width} + @{qv-actions-width}");
	z-index: 1000;
	width: 15em;

	padding: 0.2em;
	padding-left: 0;
	.bg-colour-primary;

	display: flex;
	justify-content: space-between;

	transform-origin: left center;
	animation: @animation-duration slidein;
	&.leaving {
		animation: @animation-leave-duration slideout;
	}

	input {
		flex-grow: 1;
		border: 1px inset @mono-lighter;
		color: @mono-dark;
		background-color: #fff;
	}

	button {
		width: 1.5em;
		flex-grow: 0;
		margin-left: 0.2em;
	}

	.copied-msg {
		position: absolute;
		top: 100%;
		left: 0;

		font-size: @small-text;
		color: @rooster-comb;
		.bg-colour-primary;
		padding-left: 0.2em;
	}
}
