/*
 * This file defines the colour palette used by the skin as well as colour
 * related design elements.
 */

/*
 * ---------------------------------------------------------------------------
 * In game colours
 * ---------------------------------------------------------------------------
 */
@enlightened: #03FE03;
@resistance: #00C5FF;

@L1: #FECE5A;
@L2: #FFA630;
@L3: #FF7315;
@L4: #E40000;
@L5: #FD2992;
@L6: #EB26CD;
@L7: #C124E0;
@L8: #9627F4;

@common: #8CFFBF;
@rare: #73A8FF;
@very-rare: #B08CFF;

/*
 * ---------------------------------------------------------------------------
 *  Palette
 * ---------------------------------------------------------------------------
 */

@light-pink: #FFEDF8;
@orange: #FF7B23;
@rooster-comb: #D03422;
@barn-red: #7C0A02;
@bright-blue: #72FAFF;
@dull-blue: #E0FDFF;

@mono-dark: #444;
@mono-light: #AAA;
@mono-lighter: #CCC;

/*
 * ---------------------------------------------------------------------------
 *  Background colours. All elements have transparency applied to their
 *  backgrounds so that the map is visible underneath.
 * ---------------------------------------------------------------------------
 */

/*
 * Primary background colour.
 * Use the `.bg-colour-primary` mixin to apply.
 */
@bg-colour-primary: @light-pink;
@bg-alpha-primary: 0.7;

@bg-colour-primary-alpha: rgba(
	red(@bg-colour-primary),
	green(@bg-colour-primary),
	blue(@bg-colour-primary),
	@bg-alpha-primary
);
.bg-colour-primary {
	.bg-transparent(@bg-colour-primary, @bg-alpha-primary);
}

/*
 * ---------------------------------------------------------------------------
 *  Text:
 *  All text (that is not affliated with a faction) and accents (borders,
 *  underlines, etc.) is drawn with a greyscale colour.
 * ---------------------------------------------------------------------------
 */

@body-text--default: @mono-dark;
@body-text--weak: @mono-light;
@accent: @mono-lighter;

/*
 * ---------------------------------------------------------------------------
 *  Game element colours.
 * ---------------------------------------------------------------------------
 */

@uncaptured: @orange;
@link--on: @bright-blue;
@link--off: @dull-blue;

/*
 * ---------------------------------------------------------------------------
 *  Misc.
 * ---------------------------------------------------------------------------
 */

/*
 * Given a colour value and an alpha value, apply the appropriate
 * `background-color` declaration.
 */
.bg-transparent(@colour, @alpha) {
	background-color: rgba(red(@colour), green(@colour), blue(@colour), @alpha);
}
