.minimal-skin .minskin-general-info {

	.player-info {

		.player-level, .player-name {
			display: inline-block;
			font-size: 1.5em;
			line-height: 1;
		}

		.player-level {
			color: @mono-dark;
		}

		.player-name {
			margin-left: 0.5em;
		}
	}

}
